<div class="add-user-wrapper container-fluid">
  <div class="container">
    <div class="add-user">       
      <div class="new-user user-details">        
				<h1><%= link_to "Students",students_path %> >> Add</h1>
				<%= render 'form' %>
			</div>
    </div>
  </div>
</div>