<!DOCTYPE html>
<html>
<head>
  <title>LocalLink</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-wrapper">
	<section id="mid-wrap">
		<div class="add-user-wrapper container-fluid">
      		<div class="container">
				<%= yield %>
			</div>
		</div>
	</section>
</div>

</body>
</html>
